
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header::common-header" />
<body>

	<div th:replace="common/header::navbar"></div>


	<div class="container">
		<div class="row" style="margin-bottom: -100px">
			<div class="col-xs-8">
				<h2 style="text-align: center;">
					<span style="background-color: richness: ;"> User Account</span> </h2>
				
			</div>
			<div class="col-xs-4">
				<img src="/images/store.png" class="img-responsive" />
			</div>
		</div>
		<hr
			style="position: absolute; width: 100%; background-color: #333; height: 5px; margin-top: 15px; z-index: -1" />


     <div class="row" style="margin-top:10px">
			<div class="col-xs-9 col-xs-offset-3">
				<h5>Bad request. The request path is invalid. Click <a th:href="@{/}">here</a> to return to the home page.</h5>
			</div>
		</div>
	</div>
	<!-- end of container -->

    
	<div th:replace="common/header::body-bottom-script"></div>


</body>
</html>
