
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header::common-header"/>
<body>

 <div th:replace="common/header::navbar"></div>


	<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline">
                    <span th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All Books'"></span>
                </h2>
            </h2>

         </div>

 <div align="right">
            <img src="/images/store.png" class="img-responsive"/>
        </div>
       </div>

<br/>
<br/>
<br/>
<br/>
<br/>





         <div class="row" style="margin-top: 60px;">
			<div class="col-xs-3">
				<h3><label for="category">Category</label></h3>
				<div class="list-group" id="category">
					<a th:href="@{/bookshelf(category='all')}" th:classappend="${activeAll}? 'active'" class="list-group-item">All</a>
					<a th:href="@{/searchByCategory(category='Management')}" th:classappend="${activeManagement}? 'active'" class="list-group-item">Management</a>
					<a th:href="@{/searchByCategory(category='Fiction')}" th:classappend="${activeFiction}? 'active'" class="list-group-item">Fiction</a>
					<a th:href="@{/searchByCategory(category='Engineering')}" th:classappend="${activeEngineering}? 'active'" class="list-group-item">Engineering</a>
					<a th:href="@{/searchByCategory(category='Programming')}" th:classappend="${activeProgramming}? 'active'" class="list-group-item">Programming</a>
					<a th:href="@{/searchByCategory(category='Arts &amp; Literature')}" th:classappend="${activeArtsLiterature}? 'active'" class="list-group-item">Arts &amp; Literature</a>
				</div>
			</div>
        
          
          
          <div class="col-xs-9">
          <div th:if="${emptyList}">
           <h5 style="color: red;"> Oops, No result found .Try something else or try again later.</h5>
          </div>
          
          
          <table class="table table-striped">
          <thead><tr> <th> </th> </tr> </thead>
          
          <tbody>
          <tr data-th-each="book: ${bookList}">
          <td> 
          <div th:if="${book!=null}">
           <div class="row">
           <div class="col-xs-3">
          <a th:href="@{/bookDetails?id=}+${book.id}"> <img th:src="#{adminPath}+@{/images/book/}+${book.id}+'.png'"  class="img-responsive"/>
          
          
          
          
          
          </a>
          </div>
           
           <div class="col-xs-9">
            <div class="" >
            
            
            </div>
           
        <a th:href="@{/bookDetails?id=}+${book.id}">  <h4 th:text="${book.title}" style="color: green;"> </h4> </a> 
       
           <p><strong> Date Of Publication :</strong> <span th:text="${book.publicationDate}"></span> </p>
          <p> <strong> Author :</strong><span th:text="${book.author}"></span> </p>
          <p> <strong> Format:</strong><span th:text="${#strings.capitalize(book.format)}"></span> </p>
           <p><strong> Number of Pages :</strong> <span th:text="${book.numberOfPages}"> Pages</span> </p>
            
           <p> <strong> Our Price :</strong><span style="font-size: x-large;color: aqua;">$
            <span th:text="${#numbers.formatDecimal(book.ourPrice,0,'COMMA',2,'POINT')}"></span>
            
            </span> </p>
            
            <p>
            <strong> List Price:</strong>
            <span style="font-size: x-large;text-decoration: line-through;color: red;">$
            <span th:text="${#numbers.formatDecimal(book.listPrice,0,'COMMA',2,'POINT')}"></span>
            
            </span>
            </p>
            
           <p th:value="${#strings.abbreviate(book.description,500)}">
           
            </p>
           
           
           
           </div>
           
           </div>
          
          </div>
          
          </td>
          </tr>
          
          </tbody>
          
          </table>
          
          
          
          </div>
          </div>

		</div>  


	
	
	
	<div th:replace="common/header::body-bottom-script"></div>
	
	
	
	
	
	
	
	
	

</body>
</html>
